{{define "header"}}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title | default "Chatbot" }}</title>
    {{range .Stylesheets}}
    <link rel="stylesheet" href="{{.}}">
    {{end}}
    {{range .Scripts}}
    <script src="{{.}}" {{if (eq . "https://unpkg.com/htmx.org@1.9.10")}}integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"{{end}}></script>
    {{end}}
</head>
{{end}}
